<h3>Event Details</h3>
<p>Title: <%= @event.title.capitalize %></p>
<div>
<p>Description: <%= @event.description %></p>
</div>
<p>Planned to held on <%= @event.date %> </p>
<p><%= link_to "Edit", edit_event_path if current_user && current_user.id == @event.creator_id%></p>
<p>Created by <%= @event.creator.username %> </p>
