<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <p><%= notice %></p>
    <% else %>
      <p><%= alert %></p>
    <% end %>
    <%= link_to "Events homepage", events_path %>
    <%= yield %>
    <p>
      <% if current_user %>
        <%= link_to current_user.username, current_user %>
        <%= link_to 'Sign Out', session_path, method: :delete, notice: "Signed out!" %>
      <% else %>
        <%= link_to 'Sign Up', new_user_path %>
        <%= link_to 'Sign In', new_session_path %>
      <% end %>
    </p>
  </body>
</html>
